.pags{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #000000;

    height: 100vh;

    a {
        font-size: 16px;
        background-color:#3bc258;
        text-decoration: none;
        color: #000000;
        padding:  0.7em ;
        border-radius: 25px;
        margin: 5em;
        
    }

    .pop{
        background-color: #ffffffa4;
        padding: 5em;
        border-radius: 4em;
        
    }

}
